<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tokimon - <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Nav.css">
</head>
<body>
  <div class="nav-bar">
    <div class="nav-bar-align">
      <ul>
        <li class="nav-home">
          <a class="nav-font" href="/home">Home</a>
        </li>
        <li class="nav-add">
          <a class="nav-font" href="/new">Add</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="form-container">
      <div class="border">
        <div class="form-font"><%= title %></div>
        <form action="/update?id=<%= rows.uid %>" method="post">
          <div class="entry">
            <div class="title">Name</div>
            <input type="text" class="<%= inputClass %>" name="name" value="<%= rows.name %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Weight</div>
            <input type="text" class="<%= inputClass %>" name="weight" placeholder="0 to 100" value="<%= rows.weight %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Height</div>
            <input type="text" class="<%= inputClass %>" name="height" placeholder="0 to 100" value="<%= rows.height %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Fly</div>
            <input type="text" class="<%= inputClass %>" name="fly" placeholder="0 to 100" value="<%= rows.fly %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Fight</div>
            <input type="text" class="<%= inputClass %>" name="fight" placeholder="0 to 100" value="<%= rows.fight %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Fly</div>
            <input type="text" class="<%= inputClass %>" name="fire" placeholder="0 to 100" value="<%= rows.fire %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Water</div>
            <input type="text" class="<%= inputClass %>" name="water" placeholder="0 to 100" value="<%= rows.water %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Electric</div>
            <input type="text" class="<%= inputClass %>" name="electric" placeholder="0 to 100" value="<%= rows.electric %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Frozen</div>
            <input type="text" class="<%= inputClass %>" name="frozen" placeholder="0 to 100" value="<%= rows.frozen %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Trainer</div>
            <input type="text" class="<%= inputClass %>" name="trainer" value="<%= rows.trainer %>" <%- readOnly %>>
          </div>
          <div class="button-container">
            <button type="button" onclick="window.location.href='/home'" class="button">Home</button>
            <button type="button" onclick="window.location.href='/edit?id=<%= rows.uid %>'" class="button" <%- hiddenEdit %>>Edit</button>
            <button type="submit" class="button" <%- hiddenSave %>>Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>