<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tokimon - <%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Nav.css">
  <script type="text/javascript" src="/js/script.js" defer></script>
</head>
<body>
  <div class="nav-bar">
    <div class="nav-bar-align">
      <ul>
        <li class="nav-link">
          <a class="nav-font" href="/home">Tokimons</a>
        </li>
        <li class="nav-link">
          <a class="nav-font" href="/trainersinfo">Trainers</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="form-container">
      <div class="border">
        <div class="form-font"><%= title %></div>
        <form id="form" action="/update?id=<%= rows.uid %>" method="post">
          <div class="entry">
            <div id="name" class="title">Name *</div>
            <input type="text" class="<%= inputClass %>" name="name" placeholder="Name of Tokimon" value="<%= rows.name %>" required <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Gender</div>
            <select class="select-box" name="gender" form="form" required <%- disableSelect %>>
              <option disabled selected value>Select</option>
              <% let genderList = ['Other', 'Male', 'Female'] %>
              <% for (let i = 0; i < genderList.length; i++) { %>
                <% if (rows.gender === genderList[i]) { %>
                  <option selected><%= genderList[i] %></option>
                <% } else { %>
                  <option><%= genderList[i] %></option>
                <% } %>
              <% } %>
            </select>
          </div>
          <div class="entry">
            <div class="title">Level</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="level" placeholder="Level of Tokimon" value="<%= rows.level %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Age</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="age" placeholder="Age of Tokimon" value="<%= rows.age %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Weight</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="weight" placeholder="0 to 100" value="<%= rows.weight %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Height</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="height" placeholder="0 to 100" value="<%= rows.height %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Fly</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="fly" placeholder="0 to 100" value="<%= rows.fly %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Fight</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="fight" placeholder="0 to 100" value="<%= rows.fight %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Fly</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="fire" placeholder="0 to 100" value="<%= rows.fire %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Water</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="water" placeholder="0 to 100" value="<%= rows.water %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Electric</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="electric" placeholder="0 to 100" value="<%= rows.electric %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Frozen</div>
            <input type="number" min="0" max="100" class="<%= inputClass %>" name="frozen" placeholder="0 to 100" value="<%= rows.frozen %>" <%- readOnly %>>
          </div>
          <div class="entry">
            <div class="title">Trainer</div>
            <input type="text" class="<%= inputClass %>" name="trainer" value="<%= rows.trainer %>" placeholder="Name of trainer" <%- readOnly %>>
          </div>
          <div class="button-container">
            <button type="button" onclick="window.location.href='/home'" class="button">Back</button>
            <button type="button" onclick="if (confirm('Are you sure you want to delete?')) window.location.href='/remove?id=<%= rows.uid %>'" class="button" <%- hiddenEdit %>>Delete</button>
            <button type="button" onclick="window.location.href='/edit?id=<%= rows.uid %>'" class="button" <%- hiddenEdit %>>Edit</button>
            <button type="submit" class="button" <%- hiddenSave %>>Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>