<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tokimon - Trainer</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Nav.css">
</head>
<body>
  <div class="nav-bar">
    <div class="nav-bar-align">
      <ul>
        <li class="nav-link">
          <a class="nav-font" href="/home">Tokimons</a>
        </li>
        <li class="nav-link">
          <a class="nav-font" href="/trainersinfo">Trainers</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="table-container">
      <div class="title-container">
        <div class="title-font"><%= trainer %>'s Tokimons</div>
      </div>
      <table id="table">
        <tr>
          <th class="th-id">#</th>
          <th class="th-name-trainer">Tokimon</th>
          <th class="th-age">Age</th>
          <th class="th-op-trainer">Operations</th>
        </tr>
        <% rows.forEach((e, idx) => { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><a class="link" title="Details" href="/details?id=<%= e.uid %>"><%= e.name %></a></td>
            <td><%= e.age %></td>
            <td>
              <div>
                <a class="link" title="Edit" href="/edit?id=<%= e.uid %>">Edit</a>
                <a class="link" title="Remove" href="/remove?id=<%= e.uid %>" onclick="return confirm('Are you sure you want to delete?')">Remove</a>
              </div>
            </td>
          </tr>
        <% }) %>
      </table>
    </div>
  </div>
</body>
</html>